<div id="registry-manager" style="display: none;">
  <div v-for="category in registryConfig.categories">
    <h2 :class="category.categoryId">{{ category.title }}</h2>
    <p>{{ category.description }}</p>
    <div class="registry options">
      <div v-for="option in $root.registryConfig.registryOptions.filter(n => n.category === category.categoryId)" :class="`registry option ${option.registryOptionId}`">
        <span class="title">
          <a :href="option.link" v-if="option.link"><b>{{option.title}}</b></a>
          <b v-else>{{option.title}}</b>
        </span>
        <span class="description" v-if="option.description">{{option.description}}</span>
        <span class="progress">
          <span class="total">{{ option.registrys | total }}</span>
          <span>of</span>
          <span :class="[option.amount.unit, 'unit'].join(' ')">{{ option.amount.value }}</span>
        </span>
        <span class="registry button"><button>Register Gift</button></span>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/registry-manager.js"></script>

<style>
.registry.option {
  padding: 10px 0;
  border-top: 2px solid rgba(255,255,255,0.4);
  display: flex;
  align-items: center;
}
.registry.option > span {
  flex: 0 0 auto;
  margin: 4px 4px;
  text-align: left;
  justify-content: space-around;
}
.registry.option > span.title {
  flex: 1 1 auto;
  min-width: 150px;
}
.registry.option > span.description {
  flex: 50 50 auto;
}
.registry.option > span.progress {
  flex: 0 0 auto;
}
.registry.option > .registry.button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}
.registry.option > .registry.button > button {
  flex: 0 0 auto;
  background: #BB7BA0;
  color: black;
  padding: 6px 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 350ms linear;
  font-family: Lora, serif;
  font-style: oblique;
  font-size: 100%;
  font-weight: 700;
  outline: 0;
  border: 0;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0,0,0,0.5);
}
.registry.option > .registry.button > button:hover {
  background: white;
  color: black;
  transition: background-color 75ms linear;
}
.registry.option > .registry.button > button:active {
  background: #EEABD0;
  color: black;
  transition: background-color 75ms linear;
}

.registry.option:last-child {
  border-bottom: 2px solid rgba(255,255,255,0.4);
}
.unit.GBP::before {
  content: '£'
}
.unit.Gifts::after {
  content: ' gifts'
}

body {
  margin-bottom: 40px;
}


@media only screen and (min-width: 660px) {
}

@media only screen and (max-width: 660px) {
  #registry-manager {
    padding: 0 5px;
  }
  .registry.option {
    flex-wrap: wrap;
  }
  .registry.option > span {
    order: 1;
  }
  .registry.option > span.description {
    flex: 50 50 auto;
    order: 5;
    min-width: 80%;
  }
}
</style>
