<div class="schedule">
  <div class="border">
    <p>Please join us to celebrate the marriage of</p>

    <p class="names">
      <span class="bride">Hannah Bunce</span><br />
      <span class="smaller">and</span> <span class="groom">John Beech</span>
    </p>

    <p class="location">
      <span>Starting at 1pm at</span> <span class="special">Oddfellows on the Park</span><br/>
      <span class="time">Bruntwood Park, Cheadle, SK8 1HX</span>
    </p>

    <hr />

    <h3>~ Schedule ~</h3>

    <p class="time">1pm arrival</p>

    <p class="games">Please bring casual board games to play</p>

    <p class="time">2pm buffet lunch</p>

    <p class="games">More board games</p>

    <p class="time">7pm barbeque buffet</p>

    <p class="special">8pm special game of Werewolf</p>

    <p class="games">Even more board games</p>

    <p class="time">11pm courteous exit</p>
  </div>
</div>

<style>
.main > h1 {
  display: none;
}

.main {
  padding: 0 10px;
}

.schedule {
  font-size: 120%;
  font-weight: 500;
  font-style: italic;
  font-weight: 600;

  border: 2px solid #6fa8dc;
  margin: 10px auto;
  padding: 10px;
}

.schedule .border {
  border: 2px solid #6fa8dc;
  padding: 30px 0;
}

.schedule .names {
  font-size: 250%;
  text-shadow: 2px 2px #d5a6bd;
  font-weight: 400;
  margin: 0.5em auto;
}

.schedule .smaller {
  font-size: 60%;
}

.schedule .location {
  font-size: 120%;
}

.schedule hr {
  margin: 20px auto;
  border: none;
  border-bottom: 2px solid #6fa8dc;
  width: 90%;
}

.schedule h3 {
  font-weight: 400;
}

.schedule .time {
  color: #9fc5e8;
}

.schedule .games {
  color: white;
}

.schedule .special {
  color: #d5a6bd;
}

.schedule p {
  margin: 0.7em auto;
}
</style>
