<style>
  .album.track {
    border: 1px solid black;
    border-radius: 6px;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .album.art {
    flex: 1 1 0;
    border: none;
    text-align: left;
    margin: 4px;
  }
  .track.name {
    flex: 4 4 0;
    text-align: left;
    margin: 4px;
  }
  .album.name {
    flex: 4 4 0;
    text-align: left;
    margin: 4px;
  }
  .artist.name {
    flex: 4 4 0;
    text-align: left;
    margin: 4px;
  }

  .name > label {
    margin-right: 5px;
  }

  #playlist {
    position: relative;
    font-family: Circular, Helvetica, Arial, sans-serif;
    margin: 40px auto;
    padding: 0 10px;
    min-width: 420px;
    max-width: 860px;
    font-style: normal;
  }

  .playlist.border {
    position: relative;
    display: block;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 15px;
    padding: 20px;
  }

  button.connect.with.spotify {
    color: white;
    background: #1DB954;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow, -webkit-filter;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    outline: none;
  }

  button.connect.with.spotify:hover {
    background: #1ED760;
  }

  button.connect.with.spotify:active {
    background: #1DB954;
  }

  .spotify.logo {
    font-size: 48px;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  .authorized > h2 {
    margin: 10px 0;
    font-size: 40px;
  }

  input.search {
    background: #DDD;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 8px 24px 9px;
    transition-duration: .3s;
    border: 1px solid transparent;
    outline: none;
  }
  input.search:hover {
    background: #FFF;
  }
  input.search:active {
    background: #EEE;
  }
</style>

<div id="playlist" style="display: none;">
  <div class="playlist border">
    <div v-if="auth" class="auth">
      <div v-if="auth.display_name" class="authorized">
        <h2><span class="spotify logo"><i class="fab fa-spotify"></i></span> Hey {{ auth.display_name}},</h2>
        <p>Please pick some awesome tunes for our party!</p>
        <input type="text" class="search" maxlength="100" name="searchTerm" v-model="searchTerm" />

        <div v-if="advice">
          <p class="advice">{{ advice }}</p>
        </div>

        <div v-if="search.results.tracks" class="album track header">
          <span class="album art">Art</span>
          <span class="track name">Track</span>
          <span class="album name">Album</span>
          <span class="artist name">Artist</span>
        </div>

        <div v-if="search.results.tracks" v-for="track in search.results.tracks.items" class="album track">
          <img :src="track.artUrl" alt="Album art" class="album art" />
          <span class="track name">{{ track.name }}</span>
          <span class="album name">{{ track.album.name }}</span>
          <span class="artist name">
            <p v-for="artist in track.artists">{{ artist.name }}</p>
          </span>
        </div>
      </div>

      <div v-else>
        <div v-if="advice">
          <p class="advice">{{ advice }}</p>
        </div>

        <div class="spotify login">
          <span class="spotify logo"><i class="fab fa-spotify"></i></span>
          <button class="connect with spotify" v-on:click="connectWithSpotify">Connect with Spotify</button>
        </div>
      </div>
    </div>

    <div v-if="playlist.tracks">
      <pre style="display: none;">Tracks: {{ playlist.tracks | pretty }}</pre>
    </div>
  </div>
</div>

<script src="/javascript/playlist.js"></script>
