html, body {
  font-family: Lora, serif;
  font-size: 14px;
  color: white;
  background-color: #574b43;
  background-image: url('../images/background-paper-texture.png');
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  padding: 6px;
  background-color: black;
  justify-content: flex-start;
  align-items: center;
}

.header > heading {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 120%;
  margin-right: 10px;
}

.header.nav > span {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 100%;
  border-left: 2px solid white;
}
.header > * > a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
.header > heading > a {
  margin: 0;
}
.header > span > a:hover {
  color: #6fa8dc;
}
.header.nav > * {
  white-space: nowrap;
}

.main {
  text-align: center;
  margin: auto;
  font-weight: 600;
  font-style: oblique;
}

.main > h1 {
  display: inline-block;
  border-top: 2px solid #6fa8dc;
  border-bottom: 2px solid #6fa8dc;
  padding: 2px 0 4px 0;
  font-style: normal;
}

.main > h2:before {
  content: '~ '
}

.main > h2:after {
  content: ' ~'
}

.main > p {
  padding: 0 12px;
}

.main > ul {
  display: inline-block;
}

.footer {
  text-align: center;
}

.main img {
  max-width: 100%;
  max-height: 60vh;
  border-top: 2px solid #6fa8dc;
  border-bottom: 2px solid #6fa8dc;
}

@media only screen and (min-width: 660px) {
}

@media only screen and (max-width: 660px) {
  .header.nav {
    flex-wrap: wrap;
  }
  .header.nav > * {
    flex: 1 1 auto;
    text-align: center;
    margin: 5px 0;
  }
  .header.nav > heading {
    flex-grow: 100 100 auto;
    width: 100%;
  }
  .header.nav > *:last-child {
    border-right: 2px solid white;
  }
}
