<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <!-- Location: {{location}} -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">

  <meta name="description" content="Our wedding website for 2019.">
  <meta name="keywords" content="john,hannah,wedding,2019,photos">
  <meta name="author" content="John Beech, and Hannah Bunce">

  <link rel="apple-touch-icon" sizes="57x57" href="images/fv/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/fv/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/fv/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/fv/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/fv/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/fv/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/fv/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/fv/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/fv/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="images/fv/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/fv/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/fv/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/fv/favicon-16x16.png">
  <link rel="manifest" href="images/fv/manifest.json">
  <meta name="msapplication-TileColor" content="#574b43">
  <meta name="msapplication-TileImage" content="images/fv/ms-icon-144x144.png">
  <meta name="theme-color" content="#574b43">

  <link rel="stylesheet" type="text/css" href="css/style.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<style>
  navigation, footer {
    background-image: url('{{backgroundImage}}');
  }
  </style>
</head>
<body>
  <div class="header nav">
    <heading><a href="/home">Hannah and John's Wedding 2019</a></heading>
    <span><a href="/rsvp">RSVP</a></span>
    <span><a href="/playlist">Playlist</a></span>
    <span><a href="/schedule">Schedule</a></span>
    <span><a href="/registry">Registry</a></span>
    <span><a href="/getting-there">Getting there</a></span>
  </div>
  <div class="main">
    {{body}}
  </div>
  <div class="footer">
    <!-- For more information about this site, please visit: https://github.com/johnbeech/wedding-website -->
  </div>
</body>
</html>
